[2016-03-08 15:10] redgluten opened #2 "Routes have to be defined to publish"
The readme file states that you should publish your config before registering your routes doing it this way throws the following error:  `[InvalidArgumentException] Route [spatieLaravelFeed0] not defined`.

I thought about submitting a pull request to change the readme but this seems like a bug as it would prevent installation of others packages?

[2016-03-08 15:52] JolitaGrazyte commented on #2
Thank you for letting it know.
You must indeed first register the Route::feed() in your route.php and only then publish the config file.
Like that it works fine.

I have updated the README file.

[2016-03-08 15:52] #2 closed

[2016-03-12 15:54] redgluten opened #3 "XML error when visiting feed url"
First let me thank you for the great work. :+1:

I’ve got what seems to be an XML error when trying to visit my feed url (on Chrome at least, Safari and Firefox are only pointing to non-working feed):

[code]

Any idea where to look?

This is my config file:

[code]

My Article model contains the necessary methods:

[code]

The Article title is just a simple UTF-8 string.

[2016-03-12 15:58] redgluten commented on #3
This does look like an encoding bug, the entity “ecir” [represents the character](http://www.w3schools.com/charsets/ref_html_entities_e.asp) “ê” often used in french.

[2016-03-12 17:59] freekmurze commented on #3
Could you post the url to your feed? We'll take a look at this problem in the coming days.

[2016-03-12 18:25] redgluten commented on #3
It’s under local dev for the moment but I’ll try to deploy something in the next days.

[2016-03-21 18:36] redgluten commented on #3
It took me some time but here it is: [http://polenta.glutendesign.com/article-feed](http://polenta.glutendesign.com/article-feed).

[2016-03-23 14:22] freekmurze commented on #3
This should be fixed in v1.0.6. Of the package.

If you still encounter problems, reopen this issue.

[2016-03-23 14:22] #3 closed

[2016-06-01 19:12] nWidart commented on #2
I added the `Route::feeds();` and yet I'm getting ` Route [spatieLaravelFeed0] not defined.`.

[2016-06-02 08:29] nWidart opened #4 "Invalid RSS feed"
Hello,

I've tested an rss feed generated from this package, however the w3 validator says some items are invalid.

Here is the result of the test: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fnicolaswidart.com%2Frss

Did I miss something to avoid this ?

Thanks,

[2016-06-03 10:50] freekmurze commented on #4
I'll take a look at this in the coming weeks. If you need a quick fix, I'd accept a PR that fixes this.

[2016-06-03 11:15] nWidart commented on #4
Alrighty thanks. Enjoy the sun! ☀️

It's not very urgent, I'll see if I can fin time.

[2016-06-19 02:49] danhunsaker opened #5 "Config versus Routes"
Curious what the reasoning was behind defining feeds in a config file rather than directly in the routes file?  For example:

[code]

I personally like keeping routes all together so I can see where each incoming request will end up without having to dig through config files elsewhere.  That also seems to be The Laravel Way™.  That said, I'm sure there was a good reason to implement it in a config

[2016-06-21 16:07] freekmurze commented on #5
Our initial idea was that you did not have to register any routes at all. Unfortunately we found not other way then to introduce `Route::feeds();` in the routes file.

We decided that apart from that route, it would be easier just to configure everything in one place: the config file.

If we were to make this package again, maybe we'd do it otherwise, maybe not... It's just preference I think. The

[2016-06-21 16:07] #5 closed

[2016-07-07 11:23] sebastiandedeyne commented on #4
I tagged a new version that got rid of an unnecessary `CDATA` wrapper, it might fix those validation issues, let me know of something's still off!

[2016-07-07 11:23] #4 closed

[2016-07-07 11:24] nWidart commented on #4
Thanks I'll test it out later today.

[2016-07-07 17:27] nWidart commented on #4
Awesome, the feed is [now valid](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fnicolaswidart.com%2Frss).

Thanks again! 👍

[2016-08-03 08:57] Cannonb4ll opened #7 "Route [spatieLaravelFeed0] not defined."
Required this package in my installation and followed all the steps, getting this error:

[code]

I have `Route::feeds();` at the top of my routes.php file, added the `Spatie\Feed\FeedServiceProvider::class,` to my app.php config, also configured the model functions and wrote these in de laravel-feed.php config file.

What am I missing or doing wrong?

[2016-08-03 09:53] Cannonb4ll commented on #7
I think I found out why, the service provider has to be registered after the `App\Providers\RouteServiceProvider::class,`, because after I did that, it worked.

The documentation did not inform me about this, it just states:

`Next up, the service provider must be registered:`

It does not say it has a specific order.

[2016-08-03 10:29] sebastiandedeyne commented on #7
Thanks, good catch, I'll add a note to the docs that it should be registered later!

[2016-08-03 10:29] #7 closed

[2016-08-09 07:49] Cannonb4ll opened #8 "Route caching"
When using `Route::feeds();` it is not possible to cache your routes. (`php artisan route:cache`)

Returning error:

[code]

Is it possible to fix this?

[2016-08-09 07:56] sebastiandedeyne commented on #8
We might look into replacing the closure with a controller action in future versions, but that probably won't happen any time soon.

I see the value of converting it though, so a PR's welcome if you'd need it sooner!

[2016-08-09 07:56] #8 closed

[2016-08-18 17:58] yamilrevilla opened #10 "NotFoundHttpException"
Hi guys,
Great packages you got. Thanks for that.

I'm having a little problem with the route, Laravel throws me a NotFoundHttpException when I enter in http://domain.local/rss

Aditionally when I include the "@include('laravel-feed::feed-links')" the code generated is

`<link rel="alternate" type="application/rss+xml" href="http://domain.local/%5Crss" title="Test Millenium RSS">`

My config file:

[2016-08-18 20:32] freekmurze commented on #10
Did you add `Route::feeds();` in your routes file?

[2016-08-18 22:35] yamilrevilla commented on #10
Hi @freekmurze, yes, if you look my previous message you could see it.
I included the macro at the top of the file as the documentation says

[2016-08-20 18:57] freekmurze commented on #10
Mmm, strange... I don't see anything wrong with your code. Could you try installing the package in a fresh copy of Laravel?

[2016-08-21 21:32] yamilrevilla commented on #10
I think I found the problem.

I list all my routes using `$list = Route::getRoutes()`  and I saw that the rss uri was being generated like this:: _http://domain.local\rss_ so looking at the **FeedServiceProvider.php** file  I find this specific line:

[code]
I replaced with this:
[code]

And everything work. I'm working on Windows so that's maybe the problem Sir.
What do you think?

[2016-08-22 06:34] freekmurze commented on #10
Yup, that's indeed it. `DIRECTORY_SEPARATOR` isn't needed there. Thanks for finding this bug.  I'll tag a fix soon.

[2016-08-22 07:29] freekmurze commented on #10
Fixed in `1.0.8`

[2016-08-22 07:29] #10 closed

[2016-08-24 09:03] benjamincrozat opened #12 "5.3: [InvalidArgumentException] Route [spatieLaravelFeed0] not defined"
Hello,

So yesterday I branched my website and migrated to Laravel 5.3. Packages seem up to date but I have this error message from spatie/laravel-feed and I didn't even changed any spatie/laravel-feed related code:
[code]

[2016-08-24 11:40] freekmurze commented on #12
Seems to be working in my tests. Have you setup the routes?

[code]

[2016-08-24 15:04] benjamincrozat commented on #12
I'm so sorry, the service provider wasn't at the right place. I don't know why. I was probably drunk, ha ha.

[2016-08-24 15:04] #12 closed

[2016-09-04 15:18] taliptako opened #15 "UTF-8 Character Problem"
I had problem with UTF-8 characters they are look like this  "&ccedil;ıkan" at the /feed

[2016-09-06 07:33] freekmurze commented on #15
Could you add a failing test to the package that demonstrates this bug.

On Sunday, 4 September 2016, Talip Durmuş <notifications@github.com> wrote:

--
Freek Van der Herten
https://spatie.be
+32 495 84 27 91

[2016-09-11 06:43] #15 closed

[2016-10-14 13:30] Naxon opened #18 "Installation bug"
Hi,

I get the following errors when running `composer require spatie/laravel-feed`:

[code]

[2016-10-17 08:46] freekmurze commented on #18
I could not reproduce your problem
![screen shot 2016-10-17 at 10 44 24](https://cloud.githubusercontent.com/assets/483853/19430967/b425810e-9456-11e6-8824-f8403afc9f60.png)

You can workaround this issue by temporarly the content in the `post-update-cmd` key in your `composer.json`, running `composer require spatie/laravel-feed` and adding back the commands.

[2016-10-17 08:46] #18 closed

[2017-01-25 19:06] dyzajash opened #22 "Route cache exception on Laravel 5.4"
Hello,

I've just upgraded my CMS to Laravel 5.4 and when I try to do

[code]

My app just got strange exception:

[code]

in routes/web.php I've: `Route::feeds();`

And in config/app.php I have:

[code]

Route cache was working smoothly with laravel-feed on 5.3.

I was trying to generate clean App and include only this package, with the same results.

[2017-01-26 18:23] freekmurze commented on #22
@sebastiandedeyne do you have the same problem at your blog?

[2017-01-26 18:42] sebastiandedeyne commented on #22
Are you sure your feed ever worked? Route caching never was an option since this package uses a closure.

You also need to register the feeds in your routes file.

[code]

[2017-01-26 18:53] dyzajash commented on #22
That's strange, because with `Route::feeds()` in web.php, `php artisan route:cache` don't return any errors or warnings.

For example, when I paste in `web.php`:

[code]

**route:cache** returns with error about closure usage as you mention.

[2017-01-26 19:01] sebastiandedeyne commented on #22
And visiting the feed url works?

Also, what's the output of `route:list`?

[2017-01-26 19:13] dyzajash commented on #22
Now I see!

App with Laravel 5.3 **without** route:cache: **works** as expected.

App with Laravel 5.3 **with** route:cache: white page. **No errors** in logs + **no warning** when using `php artisan route:cache`

App with Laravel 5.4 **without** route:cache: **works** as expected.

App with Laravel 5.4 **with** route:cache: **error 500 with data** as I mentioned in 1st post. And also **no warning

[2017-01-26 20:14] sebastiandedeyne commented on #22
I'm gonna try to refactor the closure to a controller so route caching works 👍

[2017-01-27 09:02] #22 closed

[2017-01-27 09:24] sebastiandedeyne commented on #22
Voila, available in `1.2.0`!

https://github.com/spatie/laravel-feed/releases/tag/1.2.0

Gave it a spin on my own site and had no issues.

[2017-02-08 23:32] imuller opened #30 "Custom tags support"
Wil custom tags supported?

[2017-03-08 21:22] Mciocca opened #31 "Undefined method RSS::all();"
Running into an issue where my method that returns feed items won't let me use Eloquent Methods.

I'm using PHP 7.0 with Laravel 5.2

Here is my Model:

[code]

Here is my config

[code]

I am probably just doing something wrong but it looks like I followed the instructions.

This is the error that I am getting when visiting my feed:

Whoops, looks like something went wrong.

[code]

[2017-03-08 21:39] freekmurze commented on #31
Seems like you forgot to extend `Model`

Change

[code]

to

[code]

[2017-03-08 21:39] #31 closed

[2017-03-08 21:56] Mciocca commented on #31
Yup, that was the issue. Can't believe I missed that, thanks for the quick help!

[2017-03-25 23:27] a-komarev opened #32 "Multiple feed sources"
Is it possible to create multiple endpoints for different type of feeds?

For example:
- `feed/news`
- `feed/articles`

[2017-03-25 23:28] a-komarev commented on #32
Nevermind. Just saw it.

[2017-03-25 23:28] #32 closed

[2017-04-13 14:24] MisterMarlu opened #33 "Custom Views"
Hey, is there any way to use custom templates instead of the default?

In my project I extended your Feed.php to get my custom template:

    public function getFeedContent()
    {
        list($class, $method) = explode('@', $this->feedConfiguration['items']);

        $items = app($class)->{$method}();

        $meta = ['id' => url($this->feedConfiguration['url']), 'link' => url($this->feedConfi

[2017-04-13 14:34] freekmurze commented on #33
I've just tagged a new release that enables you to publish the views.

[2017-04-13 14:34] #33 closed

[2017-04-24 08:41] sebastiandedeyne commented on #30
Not in the near future. If anyone needs this, feel free to send a (non-breaking if possible) PR.

[2017-04-24 08:41] #30 closed

[2017-05-09 13:59] leedriscoll opened #37 "Passing a parameter to the `getFeedItems()` method"
Using the example from the documentation, I have a `NewsItem model` and I want to generate multiple rss feeds for different NewsItems filtered by category. I have 10+ categories and I'd like to generate an rss feed for each of them.

Is there a way of passing a parameter to the `getFeedItems()` method on my `NewsItem model` so I don't have to create multiple methods on my model as follows

[code]

[2017-05-09 14:57] sebastiandedeyne commented on #37
Something like this would make sense to me:

[code]

What do you think @freekmurze?

[2017-05-09 16:21] freekmurze commented on #37
@sebastiandedeyne's suggestion seems like the way to go 👍

I'd accept a fully tested, non-breaking PR that adds this to the package.

[2017-05-09 16:39] leedriscoll commented on #37
Cool - I'll get on it 😄

[2017-05-09 20:32] leedriscoll commented on #37
How does this implementation look for a first go? @sebastiandedeyne @freekmurze

https://github.com/spatie/laravel-feed/compare/master...leedriscoll:pass_parameter_to_getFeedItems()?expand=1

__Tests not written yet__ - Can you give me some guidance on this, please?

[2017-05-09 23:33] seanhudson commented on #37
Nice. I just started working on this today and need the same functionality.

[2017-05-10 14:43] leedriscoll commented on #37
Hey guys,

The tests have been refactored.
Can you give me feedback on the proposed changes before I create a PR?

https://github.com/spatie/laravel-feed/compare/master...leedriscoll:pass_parameter_to_getFeedItems()?expand=1

Thanks 😃

[2017-05-10 14:56] freekmurze commented on #37
Hi,

just go ahead and create a PR, that 'll make it easier for us to comment on things. We'll handle this further on that new PR.

Thanks for all your efforts!

[2017-05-10 14:56] #37 closed

[2017-05-12 13:44] seanhudson opened #39 "Where do views get published?"
php artisan vendor:publish --provider="Spatie\Feed\FeedServiceProvider" --tag="views"

Doesn't seem to do anything

[2017-05-12 13:50] sebastiandedeyne commented on #39
Looks like the `views` tag was missing from our service provider, so that command wasn't doing anything. Just tagged `1.3.1`, if you run `composer update` they should be published in `resources/views/vendor/laravel-feed`!

[2017-05-12 13:50] #39 closed

[2017-05-18 13:29] GiampaoloFalqui opened #42 "Lumen Support"
Is there any plan for laravel-feed to support Lumen as well?

The router dependency is broken in Lumen, since it uses a lightweight implementation.

[2017-05-18 14:24] freekmurze commented on #42
Nope, I'm not a Lumen user.

Fork the package if you need this in Lumen.

[2017-05-18 14:24] #42 closed

[2017-05-29 16:23] GiampaoloFalqui opened #46 "W3C RSS Validator Failed"
https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fapi.cambiomarcia.com%2Frss%2Ffeedbacks

You can see here that W3C validator fails to validate the RSS.

We are trying to use it on a WordPress widget however it fails to load the data.

The version I am using is a fork of laravel-feed I have made, just to add lumen and custom attributes support.

It is probably because of something I have do

[2017-05-29 16:46] GiampaoloFalqui commented on #46
Removing the image tag, the validation had success, however we are still struggling to make it work.

Could it be because the channel node is missing?

[2017-05-29 17:04] sebastiandedeyne commented on #46
This package generates an Atom feed, I don't see any mentions of `channel` in the spec at first sight.

https://validator.w3.org/feed/docs/atom.html

[2017-05-30 07:56] #46 closed

[2017-05-31 14:12] acitjazz opened #47 "Feed Pagination"
Can we create feed with pagination?

	`public function getFeedItems() {
		return Post::paginate(30);
	}`

[2017-05-31 16:20] freekmurze commented on #47
Why would you want to paginate the feed?
What is the expected result?

[2017-06-01 09:13] acitjazz commented on #47
i have more than 10000 article,, and when user visit link my feed ,, the feed query all my data and make it crash,,  so what i have to do?

i'm sorry about my english..

[2017-06-01 09:31] freekmurze commented on #47
How about just limiting the result? Here's an example on how to get only 100 posts.

[code]

Of course you should add some sorting logic so you get the latest 100 (or whatever amount you prefer) posts.

[2017-06-01 09:31] #47 closed

[2017-06-21 11:47] Xoshbin opened #49 "must be an instance of App\Carbon, instance of Carbon\Carbon returned"
Hi,
when I go to the feed page to see the results I see this error:

and that's my model:

[code]

[2017-06-21 12:33] freekmurze commented on #49
Import the `Carbon\Carbon` namespace at top of your class.

[2017-06-21 12:33] #49 closed

[2017-08-07 11:59] Stefan-ST opened #51 "phpunit-snapshot-assertions required?"
`spatie/phpunit-snapshot-assertions` is both listed in `require` and ` require-dev` in composer file which seems odd. Is is really required for using (not testing) this package? It adds PHPUnit and all its dependencies even in production environment.

[2017-08-07 12:09] sebastiandedeyne commented on #51
Looks like that accidentally slipped in there! Tagged a new version without the unnecessary dependency.

[2017-08-07 12:09] #51 closed

[2017-08-23 20:37] packytagliaferro opened #55 "Interface 'App\FeedItem' not found"
I am using this feed on my Post model. When i have this on Post.php I get the error: `Interface 'App\FeedItem' not found`

Post.php

[code]

[2017-08-24 06:44] sebastiandedeyne commented on #55
You need to import the class first.

[code]

[2017-08-24 06:44] #55 closed

[2017-08-24 14:02] packytagliaferro commented on #55
@sebastiandedeyne perfect, I new I was missing an import, just wasnt sure the right location.

[2017-09-27 11:38] victorboissiere opened #62 "Composer requirements error"
I have an error with Laravel version 5.4.* (5.4.28 in the lock file).

[code]

[2017-09-27 11:44] sebastiandedeyne commented on #62
You'll need to use version `^1.0` of this package in Laravel 5.4.

[2017-09-27 11:44] #62 closed

[2017-09-28 09:00] nyrik8989 opened #63 "Custom feed view"
[code]
[code]

[2017-09-28 09:01] nyrik8989 commented on #63
Please 1.4.1 version

[2017-09-28 09:13] sebastiandedeyne commented on #63
If you need a custom view, publish the package's views and edit them in your project.

https://laravel.com/docs/5.4/packages#public-assets

[2017-09-28 09:54] nyrik8989 commented on #63
I need different views
depending on the settings

[2017-09-28 10:06] sebastiandedeyne commented on #63
This package doesn't support separate views based on the settings. You'll need to modify the code in your own project to achieve this.

[2017-09-28 10:08] nyrik8989 commented on #63
[code]

[2017-12-23 20:06] valh1996 opened #65 "Attribute [feed] does not exist."
Hi,

I got this error when i run a composer install.

Caused when i add this line in web.php
`Route::feed();`

Do you have any idea ?

Thanks
Val'

[2017-12-23 20:16] #65 closed

[2017-12-26 11:18] bedigit opened #66 "No post thumbnail picture in the RSS feeds?"
Hi, No post thumbnail picture in the RSS feeds? Thanks.

[2017-12-27 16:18] freekmurze commented on #66
Indeed, we don't support thumbnails.

[2017-12-27 16:18] #66 closed

[2018-01-04 06:54] prafful-panwar opened #67 "Spatie \ Feed \ Exceptions \ InvalidFeedItem Object doesn't implement `Spatie\Feed\Feedable`"
**This is my NewsItem.php file code**

[code]

**This is my feed.php file code**

[code]
I am getting error **Object doesn't implement `Spatie\Feed\Feedable`**
![image](https://user-images.githubusercontent.com/4869823/34552836-038b8ba2-f14a-11e7-8dd2-331dba7f7af0.png)

Can anyone help me with this.

[2018-01-08 09:38] introwit commented on #67
@prafful-panwar Hi :) The method `getFeedItems()` in your code seems to return the instance of the query builder which won't work. As specified in the docs, the return value should be as follows:

[code]

[2018-01-08 09:38] #67 closed

[2018-01-22 10:07] banago commented on #63
I'm also in need to produce the normal Atom view and another view for Instant Articles. Allow registering custom views in the config would be great. I checked the code, and this change does not need much work, just one line change when you set the view.

Would this be possible?

[2018-01-22 13:29] sebastiandedeyne commented on #63
Feel free to send a tested PR that adds this feature :)

[2018-04-09 07:12] robertnicjoo opened #69 "getting authors name"
Hi,

How can I provide author name in my feed because i get user_id and not their name in my posts table.
In blade i use like `{{$post->user->name}}` in `->author($this->author);` what should i use?

Thanks.

[2018-04-12 08:48] freekmurze commented on #69
This question is project specific. Our code doesn't care how the author name is fetched.

[2018-04-12 08:48] #69 closed

[2018-04-12 10:42] robertnicjoo commented on #69
you made author name required then you say we not care! well done.

[2018-04-16 15:47] FrankFlow opened #70 "Handle Image"
Hello,

handling image will be a new feature?

Thanks  and compliments

[2018-06-06 05:51] robertnicjoo opened #71 "Allow custom sort order configuration for feed items"
hi,

how can I implement `->orderby('id', 'desc')` to my feeds?
currently feed are like

[code]

it supposed to be

[code]

[2018-06-06 06:46] sebastiandedeyne commented on #71
Feeds are date-sensitive, why would you want to use a different order?

[2018-06-06 09:35] robertnicjoo commented on #71
So please tell me how to use dates? As i mentioned in my question my feeds seems to be id sensitive! Mid 1 is always is in the top.

[2018-06-06 09:39] sebastiandedeyne commented on #71
Could you share as much code as possible so I can see what you're doing now? Also, what package version are you using?

[2018-06-06 09:57] robertnicjoo commented on #71
Sorry I'm with phone can't have access to my codes so i uploaded images of my codes you asked for.

1. https://ibb.co/kGz12o
2. https://ibb.co/eJUUoT

[2018-06-06 11:08] sebastiandedeyne commented on #71
Feeds are sorted by `updated_at`. If al your `updated_at` values are the same (which is a common case with dummy data), they're probably in the same order as the database which is by `id`.

Is this your issue?

[2018-06-06 11:26] robertnicjoo commented on #71
My posts `updated_at` are not same as `created_at` not all of them at least, i have postes with revisions as well. Now whats do you suggest me?

[2018-06-06 13:31] sebastiandedeyne commented on #71
I'd accept a non-breaking PR that adds a `pubdate` field to the feed based on a `published_at` attribute.

[2018-06-06 13:34] robertnicjoo commented on #71
Meaning?
Should i change something or what?

[2018-06-06 13:35] robertnicjoo commented on #71
Why don't you just use id instead of adding new field to tables?!

[2018-06-06 13:44] sebastiandedeyne commented on #71
Sorry, missed part of the issue and misunderstood.

Our package currently only supports sorting by `updated_at`, it's hard coded. I wouldn't mind having a `sort_by` configuration item in the configuration (https://github.com/spatie/laravel-feed/blob/master/config/feed.php) so you can sort the feed in whatever order you prefer.

I don't have time to implement this myself the next few weeks, so if i

[2018-06-06 13:47] robertnicjoo commented on #71
I published pr but I'll look into your suggestion as well

https://github.com/spatie/laravel-feed/pull/72

Thanks for your time.

[2018-06-24 20:54] freekmurze commented on #63
We'll handle this further in #73

[2018-06-24 20:54] #63 closed

[2018-07-01 12:13] amjad-eremnews opened #74 "Undefined offset: 0"
I have  `Route::feeds();` inside routes/web.php file in laravel 5.6 app.

[2018-07-02 07:31] sebastiandedeyne commented on #74
What does your configuration file look like?

[2018-07-15 10:36] hillelcoren opened #75 "Feature request: Support for images"
Thank you for another amazing package!

I believe RSS feeds support images, it'd be great if it was configurable through the library.

https://www.w3schools.com/xml/rss_tag_image.asp

[2018-07-16 07:08] freekmurze commented on #75
I'd accept a fully documented and tested PR that adds support for images to the package. Make sure it actually works in a feed aggregator before submitting the PR.

[2018-08-14 21:03] ctf0 commented on #67
@introwit the example above is the same as the readme which i've also had a prob with, to correct it should be
[code]

[2018-10-16 13:48] jmrashed opened #78 "Class App\NewsItem does not exist"
ReflectionException (-1)
Class App\NewsItem does not exist

[2018-10-16 14:07] freekmurze commented on #78
`NewsItem` from the readme is just an example. It is not included in the package. Use your own model.

[2018-10-16 14:07] #78 closed

[2018-10-24 09:28] nerg4l opened #80 "Support for Signed URLs"
Since Laravel 5.6 the UrlGenerater can generate [Signed URLs](https://laravel.com/docs/5.6/urls#signed-urls).

It would be greate if we could use this to create personal/private feeds for clients.

[2018-10-24 09:40] freekmurze commented on #80
If the code is simple, well tested and documented, I'd consider pulling in a PR for this.

[2018-10-24 12:54] nerg4l commented on #80
I'm not promising anything but I'll give it a try.

[2018-10-24 20:54] #80 closed

[2018-10-29 12:19] #74 closed

[2018-10-31 22:57] Houssem-Guemer opened #82 "Undefined offset: 0"
hi , i really like you work and i was trying to use it in my project , but i had this error after adding Route::feeds into my web.php and i need your help , thanks .

in Router.php (line 1215)

[2018-11-05 13:40] freekmurze commented on #82
Try clearing the config cache with `php artisan config:cache`

[2018-11-05 13:40] #82 closed

[2018-11-19 11:01] #75 closed

[2018-12-15 15:14] TimmKroe commented on #82
Still having that issue even after config clear and config cache

[2019-02-22 09:26] grajendra commented on #74
ErrorException (E_NOTICE)
Undefined offset: 0

[2019-02-27 08:55] kasperhartwich opened #83 "Laravel 5.8"
Please add support for Laravel 5.8.

[2019-02-27 15:59] rubenvanassche commented on #83
Support added by #84 and #88

[2019-02-27 15:59] #83 closed

[2019-03-06 11:10] amjad-eremnews opened #89 "Installation bug"
our requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for spatie/laravel-feed ^2.2 -> satisfiable by spatie/laravel-feed[2.2.0].
    - Conclusion: remove nesbot/carbon 2.14.2
    - Conclusion: don't install nesbot/carbon 2.14.2
    - spatie/laravel-feed 2.2.0 requires nesbot/carbon ^1.0 -> satisfiable by nesbot/carbon[1.0.0, 1.0.1, 1.1.0,

[2019-03-06 11:44] freekmurze commented on #89
I've just release a version that is allows carbon v2

[2019-03-06 11:44] #89 closed

[2019-04-13 04:58] robertnicjoo opened #90 "Template issue"
This is how my feed returning and i don't know why
![12](https://user-images.githubusercontent.com/8672823/56074817-fc654c80-5de2-11e9-92d2-cec54e76d94c.png)

this is my `feed.php`
[code]

here is my model

[code]

any idea?

[2019-04-13 17:34] sebastiandedeyne commented on #90
Could it be that your webserver is doing something wrong with the headers?

If you change the feed to `/articles-feed.xml`, does it work?

[2019-04-14 18:37] robertnicjoo commented on #90
that didn't help.

Maybe it worth to mention in mobile browser it shows feeds with xml template, the issue above just happens in PC browsers.

[2019-04-18 16:50] nikhiltri opened #91 "Update XML schema for Flipboard support"
Hey all,

I'm currently working on my own fork of this project to update the XML schema to provide support of Flipboard's RSS guidelines:

https://about.flipboard.com/rss-spec/

Are these changes you'd be interested in adopting into the main codebase? If so, I'll submit a PR when I'm done.

Thanks!
nikhil

[2019-04-19 14:21] sebastiandedeyne commented on #91
Could you share a quick overview of what the changes would include? What does Flipboard expect that isn't covered by the base spec?

[2019-04-19 15:14] nikhiltri commented on #91
Most of what's needed include renaming a few of the fields, which I can do in a custom view. What I'm adding to my fork of this project is a few additional fields:

* Feed.description
* Feed.language
* FeedItem.enclosure (for a representative image or video)

[2019-04-19 15:17] nikhiltri commented on #91
See my WIP here: https://github.com/nikhiltri/laravel-feed/commits/feature/support-for-flipboard

Likely just one more commit for the enclosure field before it's ready for a PR.

[2019-05-22 03:27] vahidalvandi opened #93 "do it support multi language blog ?"
do it support multi language blog ?

[2019-05-22 03:55] freekmurze commented on #93
This package allows to create multiple feeds. You can use this to create a feed per language.

[2019-05-22 03:55] #93 closed

[2019-06-01 07:30] atymic commented on #90
Can you post the raw HTML is a gist please?

[2019-06-04 00:33] atymic commented on #71
PR open in #94 :smile:

[2019-06-04 10:17] freekmurze commented on #71
Continuing the conversation in #94

[2019-06-04 10:17] #71 closed

[2019-06-16 23:38] atymic commented on #90
@robertnicjoo
Did you get this resolved?

[2019-06-16 23:50] robertnicjoo commented on #90
No it shows the same as i mentioned but functionality hasnt change since old versions.

So it works, but show codes badly.

[2019-07-06 15:11] nickolasnikolic opened #97 "multiple rss feeds"
I am in need of quite a few model collection rss feeds, would subclassing newsitem work, just as well?

[2019-07-07 00:37] nickolasnikolic opened #98 "Builder/Poem collections return date as string rather than carbon"
$poems = Poem::select('poetry.id as poem_id, title, meaning, poetry.updated_at as updated, users.name as author')
                ->join('users', 'poetry.user_id','=', 'users.id')
                ->where('poetry.published', true)
                ->where('users.banned', false)
                ->where('users.disabled', false)
                ->get();

        $poemsRss = $poems->map(function($p, $k)

[2019-07-07 00:43] nickolasnikolic commented on #98
the folowing line fixed it:

 ->updated(new Carbon($p->updated))

[2019-07-07 00:43] #98 closed

[2019-07-08 06:17] freekmurze commented on #97
I guess so.

[2019-07-08 06:17] #97 closed

[2019-07-09 16:06] sebastiandedeyne commented on #90
Please share the full feed output if this is still an issue.

[2019-07-09 16:06] #90 closed

[2019-07-13 11:51] quasiperfect opened #99 "how would you use this with a multilanguage site ?"
thanks for you work and for any response

[2019-07-16 20:53] freekmurze commented on #99
You could maybe set up one feed per locale?

[2019-07-16 20:53] #99 closed

[2019-08-02 00:22] pdiveris commented on #91
Erm.. I am getting a weird issue with "spatie/laravel-feed": "^2.2" where Chrome is reporting to me that
#### This page contains the following errors:
[code]

If I look at the generated output this is what I see

![Screenshot 2019-08-02 at 01 19 07](https://user-images.githubusercontent.com/1022373/62335395-943a9380-b4c3-11e9-9346-4ad933029b2c.png)

It seems to be adding some spaces before the XML

[2019-08-02 01:17] pdiveris opened #101 "Getting invalid XML output"
I am getting a strange error to the effect that the document is invalid

#### This page contains the following errors:
`error on line 1 at column 10: XML declaration allowed only at the start of the document`

If I view the source of the feed generated, it appears to contain a few blank characters in the beginning (before the xml tag)

![Screenshot 2019-08-02 at 02 09 49](https://user-images.githu

[2019-08-02 06:39] freekmurze commented on #91
Feel free to send a PR that adds these things in a non-breaking way. Be sure to include updated tests 👍

[2019-08-02 06:39] #91 closed

[2019-08-02 08:02] rubenvanassche commented on #101
Hi @pdiveris can you share some more information about your configuration? Did you overwrite the view that's rendering the feed?

[2019-08-02 08:15] pdiveris commented on #101
My configuration to start with was vanilla, running with Laravel 5.8.28 and having installed as per instructions `composer require spatie/laravel-feed`, I added the `Route::feeds('/feed');` to my `web.php` and the

``
use Spatie\Feed\Feedable;
use Spatie\Feed\FeedItem;

..
class ProposalView extends Model implements Feedable
[code]

[2019-08-02 08:24] rubenvanassche commented on #101
Can you try replacing
[code]

with:
[code]

in `vendor/spatie/laravel-feed/resources/views>/feed.blade.php` ?

[2019-08-02 08:28] pdiveris commented on #101
Yes sure, I just did. In fact I think I tried the something similar last night as well. I am getting the same issue ;o(

I cannot insist that it's neccessarily not a problem with my setup, i.e. some middleware writing out but I very much doubt it as I don't have any custom middleware attempting to write to anything.

[2019-08-02 08:32] pdiveris commented on #101
Hi. I just did, I am getting the same I am afraid ;o(

[2019-08-02 08:37] pdiveris commented on #101
If it's any help, anything I put in the file, say <bob></bob> seems to start after a few spaces, five to be precise.

![Screenshot 2019-08-02 at 01 19 07](https://user-images.githubusercontent.com/1022373/62356450-04b7d380-b509-11e9-96ac-6cf6ae0f0051.png)

[2019-08-02 10:06] rubenvanassche commented on #101
Hi @pdiveris I've replicated your steps with a clean Laravel installation and do not have any problems with generating a valid XML feed. Maybe check those middlewares you mentioned earlier? When I check your example feed, the `<feed>` tag is also indented, which isn't in my clean Laravel installation. This could be a starting point to solve your issue?

I will close the issue for now, feel free to

[2019-08-02 10:06] #101 closed

[2019-08-02 10:20] pdiveris commented on #101
I will keep investigating. The problem persists even if disable 3rd party middlewares, although I don't have the time to do a fresh install etc etc. I appreciate you want to close the ticket, that's fine, but can you spare a minute and guide me to the point (in your code) where I can grab the generated stream (text) before it gets spat out to the "view." Is there a point inthe code where such stri

[2019-08-02 10:41] rubenvanassche commented on #101
You can check the `toResponse` method in `Feed.php`

[2019-08-02 10:52] pdiveris commented on #101
Thank you. I interecepted that and wrote out on a file what `$contents` contains at that moment. See file attached, no spaces. It's the weirdest problem I've come across in the past few months..

[feed.txt](https://github.com/spatie/laravel-feed/files/3460886/feed.txt)

[2019-08-02 12:15] SamuelNitsche opened #102 "Make package more dynamic"
Hey guys, I currently use this package to create an iTunes RSS Feed. Most things work fine when using a custom view but I noticed that some fields are required for the `FeedItem` which I don't use in the blade view.

Maybe we can move the required fields to the config file instead of hardcoding it. What do you think?

[2019-08-02 23:50] freekmurze commented on #102
Sure, whip up a PR. If it is simple enough, I'll consider merging it in. 👍

[2019-08-02 23:50] #102 closed

[2019-09-17 12:12] SamuelNitsche opened #105 "Implement templates for different kinds of feeds"
This is an addition to #102 and #104.

Since there are different types of rss feeds (Atom 2.0, iTunes, etc.) I thought about templates for each feed type. In my particular case, I would like to offer an iTunes feed that is different from an Atom feed.

My idea would be to have different kinds of templates which are loaded depending on the feed type selected in the configuration. Then the feed type

[2019-09-17 14:58] freekmurze commented on #105
It's a nice idea, but generally speaking I only work on or want to maintain stuff I need myself. Currently I have no need for other types of feeds, so I'm not going to invest time in this.

If the code to accomplish this is really simple, I'd consider merging a PR.

If there are extensive changes needed, feel free to fork the package.

[2019-09-17 15:04] SamuelNitsche commented on #105
Sure thing, I fully understand you. Since I need this functionality I am going to whip up a PR. If you don't like it I will fork the package.

[2019-09-18 07:18] event15 commented on #31
@freekmurze is there any way to use your vendor without extending Model?

[2019-09-25 07:53] Gummibeer opened #106 "Package shouldn't depend on laravel/framework instead on illuminate/*"
The package shouldn't and doesn't require the whole `laravel/framework`. It should, like all other spatie packages, only require `illuminate/*` packages.

[2019-09-25 08:05] freekmurze commented on #106
Feel free to send a PR that fixes this.

[2019-09-25 09:09] freekmurze commented on #106
👍

[2019-09-25 09:09] #106 closed

[2019-10-06 20:10] Gummibeer opened #108 "mix of RSS and Atom"
Atm the package mixes RSS and Atom. The blade feed view renders an Atom feed but the blade link view generates RSS link tags.
https://github.com/spatie/laravel-feed/blob/732d840cfa6c0369a48fb32d136b812dc3d97ab1/resources/views/links.blade.php#L2
`type="application/atom+xml"` would be correct.

My idea would be to add a new key to the config array which contains the html link type. And if it's `!$t

[2019-10-07 08:29] freekmurze commented on #108
Send a PR to correct the type, and then separate PRs for the other things you are proposing. 👍

[2019-10-07 08:29] #108 closed

[2019-10-07 15:09] smartbos commented on #82
Hi

Thanks for the good package.

I've got this issue too.

When I try to get feeds by web browser, it works well.
But I can't run phpunit. When I try it resulted below.

[code]

I tried `php artisan config:cache` but it didn't work.
Can you review this issue again?

Thanks

[2019-11-08 10:04] tonoslav opened #111 "Add content attribute to FeedItem"
Hey there Im trying to use this awesome generator to create feed for Google News and they require to set full article in feed, **content** attribute is needed

https://validator.w3.org/feed/docs/atom.html#contentElement
https://support.google.com/news/producer/answer/6170026?hl=en (see Sample Atom 1.0 feed)

I recommend to add just copy of **summary** but just as **optional**

I am not good at PRs

[2019-11-13 19:35] freekmurze commented on #111
I currently don't have a need myself for extra fields, so I'm not going to invest time in adding them.

[2019-11-13 19:35] #111 closed

[2019-11-22 14:07] FreddyCrugger opened #113 "How to add images to the feed?"
Hello,

A feed without an image is not too nice to have.
How can we pass our images to the feed please?

Thank you

[2019-11-22 16:36] freekmurze commented on #113
There's no support for this now. Feel free to submit a PR with tests and an updated readme.

[2019-11-22 16:36] #113 closed

[2019-11-22 17:29] FreddyCrugger opened #114 "The feed does not seem to validate"
This feed does not validate.

line 6, column 32: Undefined feed element: description [help]

                                <description>Our  News is for Coders a ...
                                ^
line 7, column 32: Undefined feed element: language [help]

                                <language>en-US</language>
                                ^
line 8, column 72: updated must be an RFC-333

[2019-11-22 23:25] freekmurze commented on #114
Feel free to PR improvements around this.

[2019-11-22 23:25] #114 closed

[2019-12-14 10:48] KalimeroMK opened #115 "Undefined variable: namespaces"
<img width="1438" alt="Screen Shot 2019-12-14 at 11 48 03" src="https://user-images.githubusercontent.com/24772657/70847697-a3652100-1e67-11ea-84c7-11ba5d0180bc.png">

[2019-12-15 18:11] freekmurze commented on #115
Could you try upgrading to the latest version of the package?

[2019-12-15 18:47] KalimeroMK commented on #115
I already use the last version, the project is built on laravel 6.7

[2019-12-15 18:50] freekmurze commented on #115
The view in your exception trace isn't present in the latest version of the package.

[2019-12-15 18:52] KalimeroMK commented on #115
can you tell me which file it is to copy from git and add manual

[2019-12-15 18:55] freekmurze commented on #115
Do not copy files manually, but use composer

https://github.com/spatie/laravel-feed#installation

Make sure composer installs v2 (use `composer show` to verify that)

[2019-12-15 18:55] #115 closed

[2019-12-26 11:52] choxx opened #116 "Special characters being displayed in feed title"
Hi there!
Here is the schema of my table:
[code]
If I store the title like as shown in the screenshots, they are being encoded while listing feed.
![Mysql](https://user-images.githubusercontent.com/11666456/71474902-b8e13000-2803-11ea-88a0-3b24915f5183.png)
![feed](https://user-images.githubusercontent.com/11666456/71474979-3442e180-2804-11ea-9154-9b2a2d5b7026.png)

How to fix it?

[2019-12-29 07:14] SurfJunky commented on #116
you can get ride of this characters
example
`'title' => strip_tags($this->title),`

[2019-12-29 09:33] choxx commented on #116
Hi @SurfJunky, Thanks for the reply.
Definitely I'd like to keep this(special) character(s). So, the second solution you have suggested is not at all the obvious choice.
Regarding the first solution, are you saying I should edit the source code in the package directly?
Won't this break the future updates for this package to me? Also, this wouldn't be git tracked so I have to separately maintain co

[2019-12-29 09:39] SurfJunky commented on #116
Ofc not your going to edit a view file you can customize the style aswell.
but you still can publish the views and fix the problem without touching the original files.
Thanks

[2020-01-01 04:35] choxx commented on #116
Thanks @SurfJunky
It's fixed with the change you have suggested.

[2020-01-01 04:35] #116 closed

[2020-03-26 13:33] ridwanmubarok opened #122 "Invalid argument supplied for foreach()"
how to solve problem ?

[2020-03-26 13:45] freekmurze commented on #122
There's too little information here to help you. Consider give us as much info as possible when opening up an issue.

[2020-03-26 13:45] #122 closed

[2020-04-19 07:51] channaveer opened #123 "Call to a member function toRssString() on string in Laravel 7.0"
Hi, I am facing this issue. Please help me. Using Laravel 7.0 Working fine in the local system but when I deployed to production I am facing this issue.

[code]

Following is my Model

[code]

[2020-04-19 10:34] channaveer commented on #123
At last, I debugged the issue. If my Posts were not having published date then I used to set PHP normal DateTime rather than DateTimeObject.

There are 2 solutions what I found

Solution 1 - If you want to pass PHP DateTime then pass DateTime Obj. Like following

`\Carbon\Carbon::now();`

Solution 2 - If the posts are not published then don't include for RSS feed thus any need to add the default d

[2020-04-19 10:34] #123 closed

[2020-04-28 08:20] abidshah544 opened #125 "Too few arguments to function Spatie\Feed\Feed::__construct(), 4 passed in C:\xampp\htdocs\facts\packages\spatie\laravel-feed\src\Http\FeedController.php on line 30 and exactly 6 expected"

[2020-04-28 08:28] freekmurze commented on #125
The test of the package prove that it is working correctly. This error must be caused to something specific in your app. Please try installing the package in a vanilla Laravel app.

[2020-04-28 08:28] #125 closed

[2020-04-29 11:43] nerraw93 opened #126 "XML Parsing Error: not well-formed (using version 2.1.2)"
Hi,

I encountered this problem below. How to fix this?

![image](https://user-images.githubusercontent.com/38322505/80592051-5cac4800-8a51-11ea-885e-be5d002a7a04.png)

[2020-04-30 11:13] channaveer commented on #114
@FreddyCrugger @freekmurze Even I am facing the same problem any updates on the resolution.

[2020-04-30 11:57] freekmurze commented on #114
I don’t have time to handle this atm. Feel free to PR a fix 👍

[2020-04-30 13:43] channaveer commented on #114
@freekmurze Can you please help me with what should I look for. So that I can at least go ahead and dive into it

[2020-05-21 15:59] dcemal commented on #122
Basically I get the same problem,

When I install package and add Route::feeds(); to my web.php, and when I refresh the page it gives error as;

ErrorException
Invalid argument supplied for foreach()

The highlighted area is: vendor/spatie/laravel-feed/src/FeedServiceProvider.php:39

And when i try to publish config file via following code, it gives me the same error in console:
php artisan vendor

[2020-05-21 16:41] dcemal opened #127 "Invalid argument supplied for foreach()"
When I install package and add Route::feeds(); to my web.php, and when I refresh the page it gives error as;

ErrorException
Invalid argument supplied for foreach()

The highlighted area is: vendor/spatie/laravel-feed/src/FeedServiceProvider.php:39

And when i try to publish config file via following code, it gives me the same error in console:
php artisan vendor:publish --provider="Spatie\Feed\Fe

[2020-05-26 10:26] senbai commented on #127
# Reason:
laravel Can't See The `feed` file after install the package.

# Solution:

Just Clear you cache  by simply type in the` terminal` or the `command prompt`
[code]

[2020-06-10 07:18] bsh commented on #127
Or you can delete the contnet of the /bootstrap/cache foldler.

[2020-06-11 22:14] Gummibeer opened #129 "Feed items are allowed to contain multiple categories"
`RSS` and `Atom` feed items are allowed to contain multiple `<category>` tags. Right now this isn't possible because `category` is only a string property.
If this is changed to array for the property and the method allows "endless" `string` parameters by `...` operator it would be easy to use a loop in the view.
This change shouldn't be breaking because it's still possible to pass in only a single

[2020-06-11 22:52] #129 closed

[2020-07-07 11:00] vahidalvandi opened #131 "how i can have multiply feed"
hi . i need have multiply feed .
example
/feed/pages
/feed/products

[2020-07-08 00:10] freekmurze commented on #131
You can put multiple entries in the `feeds` key of the config file.

https://github.com/spatie/laravel-feed/blob/3249ba1a4b4f86b472caa56b86c80a2c8545e9d5/config/feed.php#L5

[2020-07-08 00:10] #131 closed

[2020-07-22 13:20] vwasteels commented on #114
@channaveer did you succeed to make to work ?
thanks

[2020-07-22 13:23] channaveer commented on #114
@vwasteels I wrote my own code to solve it.

[2020-07-23 07:51] vwasteels commented on #114
Ok I guess I'll have to do this too

[2020-07-23 10:38] FreddyCrugger commented on #114
I ended up using this format in my Laravel app in a past project.
https://kollox.com/php-rss-feed/

Hope this helps.

[2020-08-31 10:01] #126 closed

[2020-09-08 21:58] #127 closed

[2020-11-05 09:09] Chris-CWZ opened #134 "Too many items in the feed causing a 500 error"
Is nobody else having an issue with the loading time of the /feed page? I have a website that has over 5000 publications, and everytime I try to visit the feed page that's supposed to render the XML document, it just keeps telling me that the server is unable to handle this request. I suspect it could be due to the fact that there are too many things to render in the XML? Is there a workaround to

[2020-11-25 05:20] gambhiro opened #135 "Is PHP 7.3 sufficient?"
If there isn't a specific reason to specify PHP 7.4 in composer.json, could you please lower the requirement to 7.3?

[2020-11-25 07:26] freekmurze commented on #135
We don't use PHP 7.3 anymore and probably we use some of PHP 7.4 type hints in the package.

If you need PHP 7.3, fork the package and do your adjustments there.

[2020-11-25 07:26] #135 closed

[2020-12-21 00:16] abr4xas commented on #134
Hi @Chris-CWZ

No, you cant use pagination because:

[code]

I think you can implement this:

Create a scope filter like this:

[code]

Then you can filter your post by year like this: `http://localhost/feed?year=2019`

Or, you can query your post counting a year starting from today. Don't know if this makes sense to you.

[2020-12-21 00:16] abr4xas commented on #134
Hi @Chris-CWZ

No, you cant use pagination because:

[code]

I think you can implement this:

Create a scope filter like this:

[code]

Then you can filter your post by year like this: `http://localhost/feed?year=2019`

Or, you can query your post counting a year starting from today. Don't know if this makes sense to you.

[2020-12-23 02:55] Chris-CWZ commented on #134
Hi there, really appreciate your feedback. I was just wondering if there's any way that it can return all of the publications instead of just the publications according to the year filter. But thanks for the recommendation!

[2021-02-07 09:18] pawlakzn opened #139 "Optional "published" parameter"
Would be great to have a possibility to add to `FeedItem` class an optional parameter like `published`.

https://validator.w3.org/feed/docs/atom.html

Entry in general could have also other fields like: `category`, `contributor`, `rights` and `source`.

[2021-02-15 10:31] trovster opened #140 "Add support for jsonfeed.org"
When research RSS feed implementations, I found out about https://jsonfeed.org as an alternative solution for the XML format. I noted that some sites I visited had these implementations. I think it would be a good addition to this package.

[2021-02-15 10:56] #140 closed

[2021-03-30 05:05] hapo-hoangnh opened #144 "Installation bug"
our requirements could not be resolved to an installable set of packages.
laravel 5.8
php 7.1
carbon v2
[code]

[2021-03-30 07:01] #144 closed

[2021-04-26 10:03] #134 closed

[2021-05-15 11:45] freekmurze opened #146 "Route::feed() should have a default url"

[2021-05-15 11:46] freekmurze opened #147 "Add Blade component to replace Blade directive"
Blade components are the way go instead of having to use `@include`.

[2021-05-19 21:24] quintenbuis commented on #147
Isn't this issue fixed? 😛

[2021-05-19 21:47] freekmurze commented on #147
Yup.

[2021-05-19 21:47] #147 closed

[2021-05-23 12:16] ildyria commented on #146
Thank you for raising this issue. A `composer update` just broke our CI because of that one. :)

[2021-05-23 12:46] ildyria opened #151 "Feed URL seems inconsistent"
It seems that there is a mandatory prefix `/feed` after which the `url` value is appended.

For example with:
[code]
and in `route/web.php`
[code]
The following blade include:
`@include('feed::links')` will return:
[code]

I don't think this is the expected behaviour. I would expect the url to be `http://example.com/feed2`.

[2021-05-23 15:17] freekmurze commented on #151
Indeed, I welcome a PR that fixes this!

[2021-05-23 21:04] #146 closed

[2021-05-28 11:08] freekmurze opened #152 "Pass validator"
@patinthehat It would be nice if the next major version of the package generates feeds that would pass this check: https://validator.w3.org/feed/check.cgi

[2021-05-28 12:41] patinthehat commented on #152
Agreed. Consider it done :smile:

[2021-05-31 06:19] #152 closed

[2021-05-31 06:20] freekmurze commented on #151
We'll improve on this in v4 of the package.

[2021-05-31 06:20] #151 closed

[2021-05-31 06:20] freekmurze commented on #139
I'm not sure what you mean, but feel free to send a PR with tests and an updated readme.

[2021-05-31 06:20] #139 closed

[2021-05-31 07:24] freekmurze opened #154 "Make v4 compatible with Octane"
It seems that v4 of this package has troubles in an Octane powered app

Example:
https://github.com/spatie/freek.dev/pull/116

Using the feed results is this error (routes not registered):
https://flareapp.io/share/DPyZWlz7

@patinthehat do you have a clue, otherwise I'll investigate later.

[2021-05-31 07:32] rgasch opened #156 "Invalid 'view' value in configuration for feed"
I just installed 4.0.1 and at the end of the installation process, composer dies with this error:

[code]

For reference my config/feed.php contains the following entries that seem relevent for this:

[code]

Another data point: v.3.x (the latest v3,  not sure which version exactly that was) worked without any issues.

[2021-05-31 07:38] freekmurze commented on #156
This is fixed with 4.0.2

[2021-05-31 07:38] #156 closed

[2021-05-31 07:38] freekmurze commented on #154
Could fix this myself, was unrelated to Octane.

[2021-05-31 07:38] #154 closed

[2021-05-31 08:08] schmidfelix opened #158 "Cannot install package"
The package cannot get installed via composer.

[code]

After that, the application stops working and everything throws this error. You can't publish the config to modify the `items` configuration value as well.

When creating a config file called `feed.php` and copy-pasting everything from the README into it, and adjusting the "items" configuration everything starts working again.

[2021-05-31 08:57] freekmurze commented on #158
@patinthehat can you take a look at this?

[2021-05-31 10:07] patinthehat commented on #158
@freekmurze I'm on it.

[2021-05-31 10:55] patinthehat commented on #158
@freekmurze Are we good with just allowing `null` and `''` values to pass the validation or is it meant to be a temporary fix?

As an alternative solution, I can move the validation for the `items` key to [`ResolveFeedItems::resolve()`](https://github.com/spatie/laravel-feed/blob/main/src/Helpers/ResolveFeedItems.php#L10). This would allow a proper exception to be thrown when `items` is invalid wh

[2021-05-31 11:01] freekmurze commented on #158
My fix was just to get it to quickly let it work properly again. Your alternative solution is better. 👍

[2021-05-31 11:02] freekmurze commented on #158
@schmidfelix the latest version of the package should be installable without any problems 👍

[2021-05-31 11:02] #158 closed

[2021-06-01 13:33] DominikGeimer opened #160 "Typed property Spatie\Feed\FeedItem::$author must not be accessed before initialization"
Hi,

I followed the instruction, but I get the following error when I access /feed.

`Typed property Spatie\Feed\FeedItem::$author must not be accessed before initialization`

This is my toFeedItem() function:

[code]

Any Idea whats wrong?

[2021-06-01 18:16] freekmurze commented on #160
Could you post the full stack trace? Or share the error via Flare?

[2021-06-02 09:05] DominikGeimer commented on #160
Hello,

here is the Flare link for this error. And btw thanks for your great packages and of course Flare :-)
https://flareapp.io/share/xmN6aXxm

[2021-06-02 09:41] freekmurze commented on #160
Which version of the package are you using? If possible, upgrade to the latest version.

You can check the used version with `composer show`

[2021-06-04 10:03] DominikGeimer commented on #160
Thanks for the hint! I don't know why but composer pulled in an old version. I fixed that and the error is gone!

Thank you!

[2021-06-04 10:03] #160 closed

[2021-06-06 19:25] NickJorens opened #161 "Error on package:discover"
This occured after a composer update. I do not have the configuration file published.

[code]

[2021-06-21 16:00] PHLAK commented on #161
I am also experiencing this issue in one of my environments (but not locally). I have the `format` key defined and set to `atom` but it's still giving me this error.

[2021-06-22 06:13] #161 closed